# Virtual Environment
.venv/
venv/
env/

# ignore static 
/static

# ignore django_cache folder
django_cache/

# Media files
media/
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.wmv
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.mp3
*.wav
*.ogg
Trailers/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# DB
*.sqlite3