{% extends 'core/base.html' %}

{% block title %}Etiketleme Tamamlandı{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="alert alert-success py-5" role="alert">
                <h4 class="alert-heading">🎉 Tebrikler! 🎉</h4>
                <p><b>"{{ movie.title }}"</b> filmi için çıkarılan tüm yüzleri başarıyla etiketlediniz.</p>
                <hr>
                <p class="mb-0">Veri setiniz artık bu etiketlenmiş yüzleri içeriyor.</p>
            </div>
            <a href="{% url 'core:upload_movie' %}" class="btn btn-primary">Yeni Bir Film Yükle</a>
        </div>
    </div>
</div>
{% endblock %}
